/* Styles généraux */
body {
    padding: 25px;
    background-color: #99c3fb;
    color: black;
    font-size: 25px;
    @font-face {
        font-family: 'bellotalight';
        src: url('Bellota-Light-webfont.eot');
    }
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background: #FBD199;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
  
  .dark-mode {

        background-color: #333;
        color: #ffff;
  }
  .dark-mode .container {
    background: #555; 
}



/* Styles de formulaire */
form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

.submit{
    background-color: #004AAD;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #01224d;
}

#toggleBtn {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    position: fixed;
    top: 10px;
    right: 10px;
}
.dark-mode #toggleBtn {
    color: #fff;
}
/* Styles des erreurs */
.errormessage {
    color: red;
    margin-top: 5px;

}

.errorinput {
    border: 2px solid red;
}

/* Honeypot (champ caché) */
.honeypot {
    display: none;
}

.hackers{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Media Query pour petits écrans */
@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
        margin: 20px;
    }

    button[type="submit"] {
        width: 100%;
        padding: 15px;
    }
}
